[submodule "schedcat"]
	path = schedcat
	url = https://github.com/RSpliet/schedcat.git
[submodule "envytools"]
	path = envytools
	url = https://github.com/RSpliet/envytools.git
	branch = ctxswitch_instrument
[submodule "linux"]
	path = linux
	url = https://github.com/RSpliet/kernel-nouveau-nv50-pm.git
	branch = ctxswitch_litmus
